@model PetsCareLove.Web.ViewModels.VeterinarianViewModel
@{
    ViewData["Title"] = "Editar Veterinarian";
}

<div class="dashboard-breadcrumb mb-25">
    <h2>Editar Veterinário</h2>
</div>
<div class="row">
    @if (ViewData["error"] != null)
    {
        <div class="alert alert-danger" id="error-alert">
            Erro ao tentar editar veterinário
        </div>
    }
    <div class="col-12">
        <div class="panel">
            <div class="panel-header">
                <h5>File Uploader</h5>
            </div>
            <div class="panel-body">
                <div class="row g-3">
                    <div class="col-lg-4 col-md-5">
                        <div class="card">
                            <div class="card-header">Foto</div>
                            <div class="card-body">
                                @* <form action="/file-upload" class="dropzone dz-component" id="file-manager-upload"></form> *@
                                <form class="dropzone dz-component" id="file-manager-upload">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card component-jquery-uploader">
                            <div class="card-header">
                                Formulário
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <form class="row g-3" asp-action="EditVeterinarian" method="post">
                                        <input type="hidden" id="foto-input" name="Photo" asp-for="Photo">
                                        <div class="col-12">
                                            <label for="inputAddress" class="form-label">Nome</label>
                                            <input type="text" class="form-control" asp-for="Name" placeholder="Fulano">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputEmail4" class="form-label">E-mail</label>
                                            <input type="text" class="form-control" asp-for="Email" placeholder="fulano@@dominio.com.br">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputPassword4" class="form-label">Telefone</label>
                                            <input type="text" class="form-control" asp-for="Phone" placeholder="(xx)xxxxx-xxxx">
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputEmail4" class="form-label">CRM-V</label>
                                            <input type="text" class="form-control" asp-for="Crmv" placeholder="xxx/xx 1234">
                                            <span asp-validation-for="Crmv" class="text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-warning">Editar</button>
                                            <button type="reset" class="btn btn-dark">Limpar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var errorAlert = document.querySelector('.alert-danger');
            if (errorAlert) {
                setTimeout(function () {
                    errorAlert.style.display = 'none';
                }, 5000); // 5000ms = 5 segundos
            }
        });

        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#file-manager-upload", {
            url: "/dummy-url", // URL fictícia para evitar o erro 404
            autoProcessQueue: false, // Impede o envio automático do arquivo
            paramName: "file", // Nome do parâmetro
            maxFilesize: 2, // Tamanho máximo do arquivo em MB
            init: function () {
                this.on("addedfile", function (file) {
                    // Criar uma URL temporária para o arquivo
                    var imageUrl = URL.createObjectURL(file);

                    // Atualizar o campo oculto com a URL da foto como string
                    document.getElementById('foto-input').value = imageUrl.toString();

                    // Exibir a URL da imagem no console para verificar
                    console.log("URL da imagem:", imageUrl);
                });

                this.on("submit", function (event) {
                    // Certifique-se de que o valor do campo oculto está sendo enviado
                    var hiddenInputValue = document.getElementById('foto-input').value;
                    console.log("Valor do campo oculto Photo:", hiddenInputValue);
                });
            }
        });

        // Adiciona um ouvinte de evento para garantir que o valor do campo oculto está correto ao enviar o formulário
        document.getElementById('main-form').addEventListener('submit', function (event) {
            var hiddenInputValue = document.getElementById('foto-input').value;
            if (!hiddenInputValue) {
                event.preventDefault(); // Evita o envio do formulário se o campo oculto estiver vazio
                alert('Por favor, selecione uma imagem antes de enviar o formulário.');
            } else {
                console.log("Formulário enviado com valor do campo oculto Photo:", hiddenInputValue);
            }
        });
    </script>
}

